header {
  display: block;
  justify-content: left;
  padding: 50px;
  font-size: 52px;
}

h1 {
  font-family: "Major Mono Display", monospace;
  // font: $primary-font;
  // padding: 70px;
}

#introduction {
  font-size: 12px;
  padding-left: 20px;
  justify-content: left;
  font-family: "Major Mono Display", monospace;
  // font: $primary-font;
}
